.hero-container{
    display:flex;
    align-items:center;
    justify-content:space-between;

    gap:80px;

    max-width:1400px;
    margin:auto;

    padding:120px 10% 60px;
}

.hero-left{
    flex:1;
}

.hero-right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-right img{
    width:100%;
    max-width:450px;

    animation:float 4s ease-in-out infinite;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }
}

.hero-badge{

    display:inline-block;

    background:#EFE2CF;
    color:#6F4E37;

    padding:12px 24px;

    border-radius:50px;

    font-size:15px;
    font-weight:600;
}

.hero-left h1{

    font-size:56px;

    line-height:1.1;

    margin-top:25px;

    color:#3E2723;
}

.hero-left p{

    margin-top:25px;

    font-size:20px;

    line-height:1.8;

    color:#6B5B53;

    max-width:600px;
}

.hero-buttons{

    margin-top:35px;

    display:flex;

    gap:20px;
}

.primary-btn{

    background:#6F4E37;

    color:white;

    border:none;

    padding:18px 36px;

    border-radius:14px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;
}

.primary-btn:hover{

    background:#8B6B4A;

    transform:translateY(-3px);
}

.secondary-btn{

    background:white;

    border:none;

    padding:18px 36px;

    border-radius:14px;

    cursor:pointer;

    font-size:16px;

    box-shadow:var(--shadow);

    transition:.3s;
}

.secondary-btn:hover{

    transform:translateY(-3px);
}

@media(max-width:1000px){

    .hero-container{

        flex-direction:column;

        text-align:center;

        padding-top:80px;
    }

    .hero-left h1{

        font-size:42px;
    }

    .hero-buttons{

        justify-content:center;
    }

    .hero-right img{

        max-width:350px;
    }
}